<!DOCTYPE html>

<head>
    <style>
    input.ng-invalid {
        border: 1px solid red;
    }
    
    input.ng-valid {
        border: 1px solid green;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <form name="signup_form" ng-controller="FormController" ng-submit="submitForm()" novalidate>
        <div ng-repeat="field in fields" ng-form="signup_form_input">
            <input type="text" name="dynamic_input" ng-required="field.isRequired" ng-model="field.name" placeholder="{{field.placeholder}}" />
            <div ng-show="signup_form_input.dynamic_input.$dirty && signup_form_input.dynamic_input.$invalid">
                <span class="error" ng-show="signup_form_input.dynamic_input.$error.required"> The field is required!
                </span>
            </div>
        </div>
        <button type="submit" ng-disabled="signup_form.$invalid"> Submit All
        </button>
    </form>
    <script>
    var app = angular.module('myApp', []);
    app.controller('FormController', function($scope) {
        $scope.fields = [{
            placeholder: 'Username',
            isRequired: true
        }, {
            placeholder: 'Password',
            isRequired: true
        }, {
            placeholder: 'Email (optional)',
            isRequired: true
        }];
        $scope.submitForm = function() {
            alert("it works!");
        };
    })
    </script>
</body>

</html>